.section_services {
    background: #fff;
    color: #303030;
    padding: 59px 0;
}

.services {
    margin-bottom: 7px;
}

.service {
    display: flex;
    align-items: center;
    padding: 36px 0px;
}

.service_img-element {
    width: 460px;
    height: 333px;
    border-radius: 5px;
}

.service_img {
    width: 40%;
    margin-right: 5%;
}

.service_content {
    flex: 1;
}

.service_title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 31px;
    color: #000;
}

.service_desc {
    line-height: 1.4;
    margin-bottom: 55px;
}

.btn_services {
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
}

.btn_services:hover {
    background: #F5170E;
    color: #fff;
}

.pager-services {
    margin-bottom: 25px;
    color: #000;
}


.pager-services .pager_item-active-services .pager_link {
    color: #fff;
    background: #F5170E;
}

.pager-services .pager_link:hover {
    color: #fff;
    background: #F5170E;
}